{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<nav class="navbar">
    <ul>
        <li><a href="./home" class="active">Home</a></li>
        <li><a href= "./image" >Image</a></li>
        <li><a href="./analysis">Analysis</a></li>
    </ul>
</nav>

<h1 style="text-align: center;color: white; padding: auto;">CAR PAINT DEFECTS DETECTION USING YOLO v7</h1>
<div style="background-image: url('/static/image/Default.jpg');height: 100%;  background-position: center;
background-repeat: no-repeat;
background-size: cover;">



</div>


{% endblock %}